<!DOCTYPE html>
<html>
  <head>
    <title>HONS</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div class="cover">
      <h1><div class="icon"><%= image_tag '/images/bookicon.png', :size =>'80x80'%></div><div class="titlename">HONS</div></h1>
      <% if logged_in? %>
        
      <% else %>
        <%= link_to "新規登録", signup_path, class: "btn" %>
      <% end %>
        
      <%= render 'layouts/header' %>
      
    </div>
  </body>
  
</html>