<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>HONS</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div class="cover">
      <img src="/images/backg2.jpg" class="topimage">
      <h1><div class="icon"><%= image_tag '/images/bookicon3.png', :size =>'88x80'%></div><div class="titlename">HONS</div></h1>
      <% if logged_in? %>
        
      <% else %>
        <%= link_to "ユーザー登録", signup_path, class: "btn" %>
      <% end %>
      
      <%= render 'layouts/header' %>
    </div>
    
    <div class="setsumei">
      <p>読んだ本を記録しよう！</p>
      <p> HONS(ホンズ)を使えば、紙媒体、電子媒体問わず、<br/>
          今まで読んだ本を簡単に記録できます。</p>
    </div>
    
    <div class="footer">
        <%= link_to "お問い合わせ", "/contact" %>
        <small>
          <p style="text-align:end;">&copy; 2018 HONS.</p>
        </small>
    </div>
    
    <div class="tweet">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="HONS 読んだ本を記録しよう!" data-url="https://honsss.herokuapp.com/" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    
  </body>
  
</html>