<div class="itemposition">
<h1>ログイン</h1>
<br /><br />
  <%= form_for(:session, url: login_path) do |f| %>
  
    <p>
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email %>
    </p>
    
    <p>
    <%= f.label :パスワード %><br />
    <%= f.password_field :password %>
    </p>
    
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %> <div class='loginsave'>ログイン状態を保持する</div>
    <% end %>


    <%= f.submit "ログイン", class: "btn_new" %>
  <% end %>
  
</div>