<head>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<div id='bookimg'><%= image_tag(@bookimg, style: "width: 180px;height: 257px;display: inline-block;") %></div>
<div id='booktitle'><p><%= @booktitle %></p></div>
<div id='bookauthor'><p><%= @author %> (著)</p></div>
<div id='bookrelease'><p><%= @release %> (発売日)</p></div>
<%= link_to (image_tag("/images/ama.png", style: "width: 163px; height: 25px; display: inline-block;")), @url, :target=>["_blank"], class:"amalink" %>


<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
<a class="fab fa-twitter share-twitter" href="http://twitter.com/intent/tweet?url=https://honsss.herokuapp.com/&text=『<%= @booktitle.gsub(/\(.+?\)/, "")%>』(<%= @author %>) を読みました。" target="_blank" ></a>
<a class="fab fa-line share-line" href="http://line.me/R/msg/text/?『<%= @booktitle.gsub(/\(.+?\)/, "") %>』(<%= @author %>) を読みました。%0D%0A https://honsss.herokuapp.com" target="_blank" ></a>
<a class="fab fa-facebook share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= @url %>" target="_blank" ></a>