<div id='bookimg'><%= image_tag(@bookimg, style: "width: 180px;height: 257px;display: inline-block;") %></div>
<div id='booktitle'><p><%= @booktitle %></p></div>
<div id='bookauthor'><p><%= @author %> (著)</p></div>
<div id='bookrelease'><p><%= @release %> (発売日)</p></div>
<%= link_to (image_tag("/images/ama.png", style: "width: 163px; height: 25px; display: inline-block;")), @url, :target=>["_blank"], class:"amalink" %>