<div class="itemposition">
<h1>アカウント情報の変更</h1>
<br /><br />

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

    <p class="name">
      <%= f.label :ユーザー名 %><br />
      <%= f.text_field :name %>
    </p>
      
    <p class="mail">
      <%= f.label :メールアドレス %><br />
      <%= f.text_field :email %>
    </p>

    <p class="pass">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password %>
    </p>

    <p class="pass">
      <%= f.label :password_confirmation, "パスワード(確認)" %><br />
      <%= f.password_field :password_confirmation %>
    </p>

      <%= f.submit "変更を保存", class: "btn_new" %>
    <% end %>

</div>