<dic class="itemposition">
<h1>新規登録</h1>
<p>新規登録してください。</p>
    <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>
    
    <p class="name">
      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>
    </p>
      
    <p class="mail">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email, class: 'form-control' %>
    </p>

    <p class="pass">
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>
    </p>

    <p class="pass">
      <%= f.label :password_confirmation, "パスワード(確認)" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </p>

      <%= f.submit "新規登録", class: "btn_new" %>
    <% end %>
</div>