<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <div class="itemposition">
    <h1>新規登録</h1>
    <br /><br />
    <%= form_for(@user, url: signup_path) do |f| %>
     <%= render 'shared/error_messages' %>
      
      <p>
      <%= f.label :ユーザー名 %><br />
      <%= f.text_field :name %>
      </p>
      
      <p>
      <%= f.label :メールアドレス %><br />
      <%= f.text_field :email %>
      </p>
      
      <p>
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, placeholder: "6文字以上" %>
      </p>

      <p>
      <%= f.label :password_confirmation, "パスワード(確認)" %><br />
      <%= f.password_field :password_confirmation, placeholder: "6文字以上" %>
      </p>

      <%= f.submit "アカウントを作成する", class: "btn_new" %>
      
      
    <% end %>
  </div>
  <body>
  
</html>