
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="/">HONS</a>
        </div>

            <ul class="nav navbar-nav navbar-right">
                  <% if logged_in? %>
                    <li class="navlist-hondana"><%= link_to "本棚", current_user %></li>
                    <li class="navlist-add"><%= link_to "本を追加", new_micropost_path %></li>
                    <li class="navlist-setting"><%= link_to "アカウント設定", edit_user_path(current_user) %></li>
                    <li class="navlist-logout"><%= link_to "ログアウト", logout_path, method: :delete %></li>
                  <% else %>
                    <li class="navlist-login"><%= link_to "ログイン", login_path %></li>
                  <% end %>
            </ul>
            
    </div>
</nav>